services:
  web:
    build:
      context: .
      target: dev
    ports:
      - "3000:3000"
    env_file:
      - .env.local
    environment:
      CHOKIDAR_USEPOLLING: "true"
      WATCHPACK_POLLING: "true"
      NEXTAUTH_URL: "http://localhost:3000"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
